* {
    box-sizing: border-box;
    margin: 0px auto;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    overflow-x: hidden;/* colocado para retirar o SCROLBAR no eixo-X */
}
html {
    scroll-behavior: smooth;
}
a {
    color: #ffffff;
}
body {
    width: 100%;
    background-color: rgb(2, 14, 1);
    color: #ffffff;
}

#nav_menu_fixo {
    grid-area: navbar;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    top: 30px;
    right: initial;
    z-index: 98;
    background-color: #000000;
}

#nav_menu_fixo ul {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    min-height: 25px;
    max-width: 1200px;
    margin: 0px auto 0px;
    text-transform: uppercase;
    border: 1px solid green;
}

#main_bit {
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: 1300px;
    margin: 40px auto 0px;
    border: 1px dotted rgb(224, 14, 14);
    padding: 20px;
    overflow: hidden;
}
#sect_bitcoin {
    display: flex;
    flex-wrap: wrap;
    background-image: url(../imgs/bitcoin_fundo.jpg);
    background-color: rgba(0,0,0,0.9);
    background-attachment: fixed;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center center;
    transform: scale(1.0);
    opacity: 0.9;
    width: 100%;
    height: 1000px;
    border: 2px dotted rgb(70, 3, 125);
    overflow: hidden;
}
#header_moedas_btc {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    border: 1px dotted rgb(224, 14, 14);
    padding: 0px;
    overflow: hidden;/* colocado para retirar o SCROLBAR no eixo-Y */
}
#div_banner_btc {
    display: block;
    max-width: 1300px;
    height: 150px;

}

#video_bitcoin {
    border: 1px dotted rgb(224, 14, 14);
    margin: 0px auto 0px;
    width: 480px;
    height: 350px;
}
#article_text_btc {
    display: inline-block;
    background-color: #000000;
    padding: 20px;
    max-width: 1000px;
    max-height: 35%;
    text-align: center;
}
#sect_bitcoin h1 {
    border: 1px dotted rgb(224, 14, 14);
}
#sect_criptoa {
    display: flex;
    background-image: url(../imgs/bitcoin_fundo_2.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 1000px;
    border: 2px dotted rgb(70, 3, 125);
}
#div_slaveMoney {
    margin-top: 70px;
}

#div_graf_preco {
    max-width: 400px;
    max-height: 680px;
    margin-top: 70px;
}
#div_camada {
    display: grid;
    grid-template-areas: 'h1 lat'
                        'graf lat'
                        'thumbs lat';
    grid-template-columns: 1000px, 250px; 
    grid-template-rows: 100px, 600px, 250px;   
    justify-content: center;
    align-items: center; 
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
#sect_altcoins {
    background-image: url(../imgs/Mult_AltCoins_OK_1000.jpg);
    background-attachment: fixed;
    background-repeat: repeat;
    background-position: center center;
    width: 100%;
    height: 1000px;
    border: 2px dotted rgb(70, 3, 125);
}
#h1_altcoins {
    grid-area: h1;
    justify-self: center;
    width: 1000px;
    max-height: 100px;
    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
    margin: 10px auto;
}
#div_ul_altcoins {
    grid-area: lat;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.8);
}
#div_grafic {
    grid-area: graf;
    min-width: 750px;
    min-height: 500px;
    background-color: rgba(0, 0, 0, 0.96);
}
.tradingview-widget-container {
    overflow: hidden;
}

/* ANIMAÇÕES */
[data_anima] {
    opacity: 0;
    transition: 1.1s;
}
[data_anima="esq_dir"] {
    transform: translate3d(-200px,0,0); /* Eixos X Y Z */
}
[data_anima="baixo_cima"] {
    transform: translate3d(0,200px,0); 
}
[data_anima="cima_baixo"] {
    transform: translate3d(0,-200px,0); 
}
[data_anima="dir_esq"] {
    transform: translate3d(200px,0,0); 
}
[data_anima].animacao {
    opacity: 1;
    transform: translate3d(0,0,0);
}

/* MODAL Thumbs*/
#div_thumbs {
    grid-area: thumbs;
    width: 1000px;
    min-height: 150px;
    background-color: rgba(0, 0, 0, 0.96);
    margin: 0px auto;
    overflow: hidden;
}
#div_top5 {
    display: block;
    max-height: 150px;
    margin: 0px auto;
    overflow: hidden;
}
.logo_altcoins {
    max-width: 150px;
    max-height: 150px;
    cursor: pointer;
    margin: 0px auto;
}
/* MODAL Janela */
.janelaModal {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding-top: 50px;
    margin: 0px auto;
    z-index: 101;
    background-color: rgba(0, 0, 0, 0.95);
}

.mostraJanelaModal {
    display: block;
}
.escondeJanelaModal {
    display: none;
}
.fechar_modal {
    position: absolute;
    top: 35px;
    right: 350px;
    color: #ffffff;
    font-weight: 800;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
#img_modal {
    margin: 150px auto 30px;
    display: block;
    width: 100%;
    max-width: 500px;
    text-align: center;
}
#txt_modal {
    display: block;
    margin: auto;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0px;
    height: 150px;

}